
@{
    ViewBag.Title = "Home";
}

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Inventario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cumpleaños</a>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="input-group mb-1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="Search">Búsqueda</label>
                                            </div>
                                            <input type="search" class="form-control" id="Search" aria-label="Buscar..." placeholder="Buscar...">
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-left">
                                        <button type="button" id="BtnAddInventario" class="btn btn-block btn-success" data-toggle="modal" data-target="#editInventario">Agregar </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive mb-3">
                                        <div class="mx-auto text-center mb-1" style="width: 600px;">
                                            <table id="DataTable" class="table table-responsive-xl table-primary table-hover table-bordered mb-lg-3"></table>
                                            <div id="DataTablePager"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card text-center">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" for="Search">Búsqueda</label>
                                                </div>
                                                <input type="search" class="form-control" id="Search" aria-label="Buscar..." placeholder="Buscar...">
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-left">
                                            @*<button type="button" id="BtnAddInventario" class="btn btn-block btn-success" data-toggle="modal" data-target="#editInventario">Agregar Inventario</button>*@
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive mb-3">
                                            <div class="mx-auto text-center mb-1" style="width: 600px;">
                                                <table id="DataTableCumple" class="table table-responsive-md table-primary table-hover table-bordered mb-3"></table>
                                                <div id="DataTablePagerCumple"></div>
                                            </div>
                                        </div>
                                        <div class="card-footer ">
                                            @*<a href="../News/Stock/" class="btn btn-block btn-success">Ir Socio</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header ">
                    <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#exampleModal">Nueva Nota</button>
                </div>
                <div class="card-body">
                    <label id="notes">

                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajustes de nota</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="dataForm" class="form form-group container">
                        <div class="row mb-3">
                            <div class="col-md-1"></div>
                            <label class="col-md-2 input-group-text" for="userName">Descripción</label>
                            <textarea class="form-control col-md-8" id="noteStr" rows="3" aria-label="Nota" placeholder="Nota"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnUpdateNote" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editInventario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajustes de inventario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="dataForm" class="form form-group container">
                        <div class="card">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="partnerID" class="input-group-text" id="inputGroup-sizing-default">Selecciona un socio</label>
                                    </div>
                                    <select id="partnerID" class="selectpicker form-control" data-live-search="true" title="Selecciona un socio..."></select>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="inventario" class="input-group-text" id="inputGroup-sizing-default">Selecciona un recurso</label>
                                    </div>
                                    <select id="inventario" class="selectpicker form-control" data-live-search="true" title="Selecciona un recurso..."></select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnUpdateInventario" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Application/utils/AfterJS.js"></script>
<script src="~/Scripts/Application/AJAXRequest.js"></script>
<script src="~/Scripts/Application/utils/NotificationsHelper.js"></script>
<script src="~/Scripts/Application/utils/ElementsHelper.js"></script>
<script src="~/Scripts/Application/utils/DatatablesHelper.js"></script>
<script src="~/Scripts/Application/Home.js"></script>
<script src="~/Scripts/Application/Note.js"></script>
<script src="~/Scripts/Application/utils/TitlesHelper.js"></script>
