@{
    ViewBag.Title = "Pagos";
}
<div class="card">
    <div class="card-header alert-secondary text-center">
        <strong>Administración de pagos</strong>
    </div>
    <form id="form" class="card-body">
        <div class="form form-group row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="partnerID" class="input-group-text" id="inputGroup-sizing-default">Selecciona un socio</label>
                            </div>
                            <select id="partnerID" class="selectpicker form-control" data-live-search="true" title="Selecciona un socio..."></select>
                        </div>
                        <strong>Detalles del cliente</strong>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="partnerNum" class="input-group-text">Número de socio</label>
                                    </div>
                                    <input id="partnerNum" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="partnerName" class="input-group-text">Nombre del cliente</label>
                                    </div>
                                    <input id="partnerName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label for="partnerPhone" class="input-group-text">Teléfono</label>
                                    </div>
                                    <input id="partnerPhone" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                                </div>
                            </div>
                        </div>
                        <strong>Detalles del Paquete</strong>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="packageName">Nombre del paquete</label>
                                    </div>
                                    <input id="packageName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="packageDescription">Descripción del paquete</label>
                                    </div>
                                    <input id="packageDescription" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="packageCost">Costo $</label>
                                    </div>
                                    <input id="packageCost" type="number"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-secondary">Verificación de pago</div>
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <strong>Forma de Pago / Meses Cubiertos</strong>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Tipo Pago</span>
                                </div>
                                <select id="payType" class="selectpicker form-control">
                                    <option>Efectivo</option>
                                    <option>Tarjeta</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Meses Cubiertos</span>
                                </div>
                                <select id="payMonths" class="selectpicker form-control">
                                    <option value="1">Mensualidad</option>
                                    <option value="3">3 Meses</option>
                                    <option value="6">6 Meses</option>
                                    <option value="9">9 Meses</option>
                                    <option value="12">12 Meses</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <strong>Detalles del Pago</strong>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="userPending" class="input-group-text">Pendiente $</label>
                                </div>
                                <input id="userPending" type="number" value="0" class="form-control bfh-number calc" aria-label="Default" aria-describedby="inputGroup-sizing-default" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="userRecargo" class="input-group-text">Recargo $</label>
                                </div>
                                <input id="userRecargo" type="number" value="0" class="form-control bfh-number calc" aria-label="Default" aria-describedby="inputGroup-sizing-default" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="userTotal" class="input-group-text">Total $</label>
                                </div>
                                <input id="userTotal" type="number" class="form-control bfh-number" aria-label="Default" aria-describedby="inputGroup-sizing-default" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-8">
                            <div class="input-group mb-6">
                                @*<div class="input-group-prepend">
                                    <label for="employee" class="input-group-text">Registrado por:</label>
                                </div>
                                <input id="employee" type="text" class="input-group-text col-md-8" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="userPay" class="input-group-text">Recibido $</label>
                                </div>
                                <input id="userPay" type="number" class="form-control bfh-number" aria-label="Default" aria-describedby="inputGroup-sizing-default" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <button id="btnPay" type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modalPayment">
                                Registrar Pago
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/Application/utils/AfterJS.js"></script>
<script src="~/Scripts/Application/AJAXRequest.js"></script>
<script src="~/Scripts/Application/utils/NotificationsHelper.js"></script>
<script src="~/Scripts/Application/utils/ElementsHelper.js"></script>
<script src="~/Scripts/Application/utils/DatatablesHelper.js"></script>
<script src="~/Scripts/Application/Pago.js"></script>
<script src="~/Scripts/Application/utils/TitlesHelper.js"></script>