<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--MODULOS-->
    <add key="QueryGETModulos" value="SELECT [ID_MODULO],[DESCRIPCION]FROM [EnForma].[dbo].[TBL_MODULOS]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--PERFILES-->
    <add key="QueryGETPerfiles" value="SELECT [ID_PERFIL],[PERFIL],[ACTIVO],[CREADO],[CREADOPOR],[ACTUALIZADO],[ACTUALIZADOPOR]FROM [EnForma].[dbo].[TBL_PERFILES]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--REL_PERFIL_MODULO-->
    <add key="QueryGETPerfilModulo" value="SELECT [ID_REL],[ID_PERFIL],[ID_MODULO],[CONTROL_TOTAL],[ACTIVO],[CREADO],[CREADOPOR],[ACTUALIZADO],[ACTUALIZADOPOR]FROM [EnForma].[dbo].[TBL_REL_PERFIL_MODULO]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_USUARIOS-->
    <add key="QueryGETUsuarios" value="SELECT [ID_USUARIO],[NOMBRE],[APELLIDO_PAT],[APELLIDO_MAT],[ID_AREA],[USUARIO],[PASSWORD],[ID_PERFIL],[ACTIVO],[CREADO],[CREADOPOR],[ACTUALIZADO],[ACTUALIZADOPOR]FROM [EnForma].[dbo].[TBL_USUARIOS]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_ASIGNACION-->
    <add key="QueryGETAsignacion" value="SELECT [id_asignacion],[id_socio],[id_paquete],[fecha_asignacion],[fecha_vigencia],[activo],[fecha_modificacion],[fecha_cancelacion]FROM [EnForma].[dbo].[TblAsignacion]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_CHECADOR-->
    <add key="QueryGETChecador" 
         value="SELECT ch.id_empleado
		                 ,e.num_empleado
		                 ,e.nombre + ' ' + e.ap_paterno + ' ' + e.ap_materno AS nombre
		                 ,ch.entrada
		                 ,ch.salida
		                 ,ch.fecha_registro
		               FROM TblChecador ch
		               inner join TblEmpleado e on e.id_empleado = ch.id_empleado
     " />
    <add key="QueryGETChecadorByDate"
         value="SELECT ch.id_empleado
		                 ,e.num_empleado
		                 ,e.nombre + ' ' + e.ap_paterno + ' ' + e.ap_materno AS nombre
		                 ,ch.entrada
		                 ,ch.salida
		                 ,ch.fecha_registro
		               FROM TblChecador ch
		               inner join TblEmpleado e on e.id_empleado = ch.id_empleado
		               where ch.entrada between Cast('{0}'  as date) and Cast('{1}'  as date) 
		                           order by ch.entrada asc
     " />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_CHECADOR_SOCIO-->
    <add key="QueryGETChecadorSocio" 
         value="SELECT ch.id_socio
		             ,s.num_socio
		             ,s.nombre + ' ' + s.ap_paterno + ' ' + s.ap_materno AS nombre
		             ,ch.entrada
		             ,ch.salida
		             ,ch.fecha_registro
		           FROM TblChecadorSocio ch
		           inner join TblSocio s on s.id_socio = ch.id_socio
     " />
    <add key="QueryGETChecadorSocioByDate"
         value="SELECT ch.id_socio
		           ,s.num_socio
		           ,s.nombre + ' ' + s.ap_paterno + ' ' + s.ap_materno AS nombre
		           ,ch.entrada
		           ,ch.salida
		           ,ch.fecha_registro
		         FROM TblChecadorSocio ch
		         inner join TblSocio s on s.id_socio = ch.id_socio
		         where ch.entrada between Cast('{0}'  as date) and Cast('{1}'  as date) 
		                     order by ch.entrada asc
     " />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

      <!--TBL_CAT_INVENTARIO-->
      <add key="QueryGETCatInventario" value="SELECT [Id_cat_inventario],[nombre],[activo] FROM [dbo].[TblCatalogoInventario]"></add>
      <add key="QuerySaveCatInventario" value="INSERT INTO [dbo].[TblCatalogoInventario]([nombre],[activo])VALUES('{0}',1);"></add>
      <add key="QueryUPDATECatInventario" value="UPDATE [dbo].[TblCatalogoInventario] SET [nombre]= '{0}', [activo]='{1}' WHERE [Id_cat_inventario]={2}"></add>
    <add key="QueryGETInventarioNow" value="          select Id_inventario, catnombre, num_control, activo, id_socio, socioName from [dbo].[InventarioAsignado];     " />

      <!--TBL_INVENTARIO-->
      <add key="QueryGETInventario" value="SELECT [Id_inventario],[nombre],[Num_control]FROM [EnForma].[dbo].[TblInventario], [EnForma].[dbo].[TblCatalogoInventario] WHERE [EnForma].[dbo].[TblInventario].[Id_cat_inventario]= [EnForma].[dbo].[TblCatalogoInventario].[Id_cat_inventario] and[EnForma].[dbo].[TblInventario].[Id_cat_inventario]={0};"></add>
      <add key="QuerySAVEInventario" value="INSERT INTO [dbo].[TblInventario]([id_cat_inventario],[num_control]) VALUES({0},{1});"></add>
      <add key="QueryUPDATEInventario" value="UPDATE [dbo].[TblInventario] SET [id_socio] = {0} WHERE [id_inventario] = {2};"></add>
    <add key ="QueryGETInventarioAsignado" value="SELECT I.[Id_inventario] as Id_inventario
      ,I.[Id_cat_inventario]
      ,I.[Num_control]
      ,I.[Id_socio]
      ,I.[Activo]
	  ,CI.nombre
  FROM [EnForma].[dbo].[TblInventario] I
		left join TblCatalogoInventario CI on ci.Id_cat_inventario = i.Id_cat_inventario
		where id_socio is null;"/>
    <add key ="QuerySaveInventarioAsignado" value="
UPDATE [dbo].[TblInventario]
   SET [Id_socio] = {0}
      ,[Activo] = 1
 WHERE [Id_inventario]={1}"/>
    
    <add key ="QueryDELETEInventarioAsignado" value="
UPDATE [dbo].[TblInventario]
   SET [Id_socio] = NULL
      ,[Activo] = NULL
 WHERE [Id_inventario]={0}"/>
    

    <!--TBL_EMPLEADO-->
    <add key="QueryGETEmpleado" value="SELECT [id_empleado],[num_empleado],[nombre],[ap_paterno],[ap_materno],[direccion],[fecha_registro],[fecha_baja],[activo],[fecha_modificacion],[id_perfil],[telefono]FROM [EnForma].[dbo].[TblEmpleado]" />
    <add key="QuerySAVEEmpleado" value="INSERT INTO TblEmpleado (num_empleado,nombre,ap_paterno,ap_materno,telefono,direccion,fecha_registro,fecha_baja,activo,fecha_modificacion,id_perfil)VALUES('{0}','{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}');" />
    <add key="QueryUPDATEEmpleado" value="UPDATE TblEmpleado SET num_empleado='{0}',nombre='{1}',ap_paterno='{2}',ap_materno='{3}',telefono='{4}' , direccion='{5}',id_perfil='{6}',fecha_baja ='{7}',activo= '{8}',fecha_modificacion= getdate()WHERE id_empleado='{9}'" />
    <add key="QueryLASTNumEmpleado" value="SELECT TOP 1 num_empleado +1 AS num_empleado   FROM TblEmpleado  ORDER BY  [id_empleado] DESC" />

    <!--TBL_HISTORIAL_FISICO-->
    <add key="QueryGETHistorialFisico" value="SELECT [id_historial_fisico]               ,F.[id_socio]               ,[descripcion]              ,S.[num_socio] AS num_socio              ,S.nombre + ' ' + S.ap_paterno + ' ' + S.ap_materno AS nombre_Completo                ,F.[activo]               ,F.[fecha_modificacion]               ,[actividad_Fisica]               ,[tiempo_Actividad_Fisica]               ,[tipo_Actividad_Fisica]               ,[fuma]               ,[toma]               ,[lesiones]               ,[fatigado_ejercicio]           FROM [EnForma].[dbo].[TblHistorialFisico] F           INNER JOIN [dbo].[TblSocio] S ON S.[id_socio] = F.[id_socio]           WHERE F.[activo] = 1" />
    <add key="QuerySAVEHistorialFisico" value="INSERT INTO [dbo].[TblHistorialFisico]            ([id_socio]            ,[descripcion]            ,[activo]            ,[fecha_modificacion]            ,[actividad_Fisica]            ,[tiempo_Actividad_Fisica]            ,[tipo_Actividad_Fisica]            ,[fuma]            ,[toma]            ,[lesiones]            ,[fatigado_ejercicio])      VALUES            ({0},'{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}');" />
    <add key="QueryUPDATEHistorialFisico" value="UPDATE [dbo].[TblHistorialFisico]                 SET [id_socio] = '{1}',                   [descripcion] = '{2}',                   [activo] = '{3}',                   [fecha_modificacion] = '{4}',                   [actividad_Fisica] = '{5}',                   [tiempo_Actividad_Fisica] = '{6}',                   [tipo_Actividad_Fisica] = '{7}',                   [fuma] = '{8}',                   [toma] = '{9}',                   [lesiones] = '{10}',                   [fatigado_ejercicio] = '{11}'               WHERE [id_historial_fisico] = '{0}'" />

    <!--TBL_HISTORIAL_MEDICO-->
    <add key="QueryGETHistorialMedico" value="SELECT [id_historial_medico]                     ,F.[id_socio]                     ,[descripcion]                    ,S.[num_socio] AS num_socio                    ,S.nombre + ' ' + S.ap_paterno + ' ' + S.ap_materno AS nombre_Completo                     ,[descripcion]                     ,F.[activo]                     ,F.[fecha_modificacion]                     ,[problema_Cardiaco]                     ,[dolor_Pecho]                     ,[asma]                     ,[medicamento]                     ,[neurologicos]                     ,[riesgo_Cardiovascular]                     ,[dolencias]                     ,[enfermedad]                     ,[presion_Alta]                 FROM [EnForma].[dbo].[TblHistorialMedico] F                INNER JOIN [dbo].[TblSocio] S ON S.[id_socio] = F.[id_socio]                   WHERE F.[activo] = 1" />
    <add key="QuerySAVEHistorialMedico" value="INSERT INTO [dbo].[TblHistorialMedico]                  ([id_socio]                  ,[descripcion]                  ,[activo]                  ,[fecha_modificacion]                  ,[problema_Cardiaco]                  ,[dolor_Pecho]                  ,[asma]                  ,[medicamento]                  ,[neurologicos]                  ,[riesgo_Cardiovascular]                  ,[dolencias]                  ,[enfermedad]                  ,[presion_Alta])            VALUES                  ({0},'{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}','{11}','{12}');" />
    <add key="QueryUPDATEHistorialMedico" value="UPDATE [dbo].[TblHistorialMedico]                  SET [id_socio] = '{1}',                        [descripcion] = '{2}',                     [activo] = '{3}',                     [fecha_modificacion] = '{4}',                     [problema_Cardiaco] = '{5}',                     [dolor_Pecho] = '{6}',                     [asma] = '{7}',                     [medicamento] = '{8}',                     [neurologicos] = '{9}',                     [riesgo_Cardiovascular] = '{10}',                     [dolencias] = '{11}',                     [enfermedad] = '{12}',                     [presion_Alta] = '{13}'                   WHERE [id_historial_medico] = '{0}'" />

    <!--TBL_HISTOTIAL_PESO-->
    <add key="QueryGETHistorialPeso" value="SELECT [EnForma].[id_historial],[id_socio],[prev_peso],[prev_alto],[prev_bajo],[prev_pecho]FROM [dbo].[TblHistorialPeso]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_MEMBRESIA-->
    <add key="QueryGETMembresia" value="SELECT [id_membresia],[nombre],[descripcion],[costo],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblMembresia]" />
    <add key="QuerySAVE" value="INSERT INTO [EnForma].[dbo].[TblMembresia]([nombre],[descripcion],[costo],[activo],[fecha_modificacion])VALUES('{0}','{1}',{2},'{3}','{4}');" />
    <add key="QueryUPDATE" value="UPDATE [EnForma].[dbo].[TblMembresia]SET [nombre] = '{0}',[descripcion] = '{1}',[costo] = '{2}',[activo] = '{3}',[fecha_modificacion] = '{4}'WHERE [id_membresia]={5}" />

    <!--TBL_MODULO-->
    <add key="QueryGETModulo" value="SELECT [id_modulo],[descripcion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblModulo]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />
    
    
    <!--TBL NOTES-->
    <add key="QueryGETNote" value="SELECT [IdNote],[Note] FROM [dbo].[TblNote]"/>
    <add key="QueryUPDATENote" value="update [dbo].[TblNote] set [Note] = '{0}' where [IdNote]={1}"/>
    <add key="QueryDELETENote" value="delete from [dbo].[TblNote] where [IdNote]={0};"/>

    <!--TBL_PAGO modificar fecha pago vence {4}-->
    <add key="QueryGETPago" value="SELECT [id_pago],[id_paquete],[id_socio],[ID_USUARIO],[importe],[fecha_pago],[activo],[fecha_modificacion],[fecha_pago_vence],[pendiente]FROM [EnForma].[dbo].[TblPago]" />
    <add key="QueryGETSocioPaquete" value="SELECT [nombre],[descripcion],[costo],[id_socio],[id_paquete]FROM [dbo].[SocioPaquete_V] where id_socio={0}" />
    <add key="QueryGETPendiente" value="SELECT TOP (1) [fecha_pago_vence],[pendiente]FROM [EnForma].[dbo].[TblPago] where id_socio={0} order by fecha_pago desc;" />
    <add key="QuerySAVEPago" value="INSERT INTO [dbo].[TblPago]                      ([id_paquete],                      [id_socio],                      [ID_USUARIO],                      [importe],                      [fecha_pago],                      [activo],                      [fecha_modificacion],                      [fecha_pago_vence],                      [pendiente])                         VALUES(                         {0},                         {1},                         {2},                         {3},                         CURRENT_TIMESTAMP ,                         1,                         CURRENT_TIMESTAMP ,                         Cast('{4}'  as date),                         {5})" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_REPORTE_PAGO-->
    <add key="QueryGETReportePago" value="
         SELECT  p.id_pago,             
		            p.id_paquete,
		            p.id_socio,
		            p.ID_USUARIO,         
		            s.nombre + ' ' + s.ap_paterno + ' ' + s.ap_materno AS nombre,  
		            pq.nombre as paquete,       
	                p.fecha_pago,
		            p.fecha_pago_vence,         
		            DATEDIFF(month, p.fecha_pago,p.fecha_pago_vence)   As meses,        
		            e.nombre + ' ' + e.APELLIDO_PAT + ' ' + e.APELLIDO_MAT AS empleado,         
		            p.importe,
		            p.pendiente,
		            p.activo              
			             FROM TblPago as P               
			             JOIN TblSocio as S on s.id_socio = p.id_socio              
			              JOIN TblPaquete as Pq on pq.id_paquete = p.id_paquete             
		                  JOIN TBL_USUARIOS as e on e.ID_USUARIO = p.ID_USUARIO           
			              where fecha_pago between Cast('{0}'  as date) and Cast('{1}'  as date) 
		             order by fecha_pago asc
         "/>
    <add key="QueryGETTotalReportePago" value="
         SELECT SUM( p.importe) as total    
			           FROM TblPago as P               
			           JOIN TblSocio as S on s.id_socio = p.id_socio              
			            JOIN TblPaquete as Pq on pq.id_paquete = p.id_paquete             
		                JOIN TBL_USUARIOS as e on e.ID_USUARIO = p.ID_USUARIO           
			            where fecha_pago between Cast('{0}'  as date) and Cast('{1}'  as date) 
		           --order by fecha_pago asc
     "/>
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_PAGO_RECARGO-->
    <add key="QueryGETPagoRecargo" value="SELECT [id_pago_recargo],[id_pago],[id_recargo],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblPagoRecargo]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_PAQUETE-->
    <add key="QueryGETPaquete" value="SELECT [id_paquete],[nombre],[descripcion],[costo],[ID_USUARIO],[activo],[fecha_modificacion],[diaspaquetes]FROM [EnForma].[dbo].[TblPaquete]" />
    <add key="QuerySAVEPaquete" value="INSERT INTO [EnForma].[dbo].[TblPaquete](          [nombre],          [descripcion],          [costo],          [ID_USUARIO],          [activo],          [fecha_modificacion],          [diaspaquetes]          )VALUES('{0}','{1}',{2},{3},'{4}','{5}',{6});" />
    <add key="QueryUPDATEPaquete" value="UPDATE [EnForma].[dbo].[TblPaquete]SET           [nombre] = '{0}',          [descripcion] = '{1}',          [costo] = {2},          [ID_USUARIO] = {3},          [diaspaquetes] ={4},          [activo] = '{5}',          [fecha_modificacion] = '{6}'           WHERE [id_paquete] = {7};" />
    <add key="QueryGETPaqueteID" value="SELECT [id_paquete]         ,[nombre]         ,[descripcion]         ,[costo]         ,[ID_USUARIO]         ,[activo]         ,[fecha_modificacion]         ,[diaspaquetes]         FROM [EnForma].[dbo].[TblPaquete]         WHERE [id_paquete]={0}" />

    <!--TBL_PAQUETE_SERVICIO-->
    <add key="QueryGETPaqueteServicio" value="SELECT [id_paquete],[id_servicio],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblPaqueteServicio]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_PRODUCTO-->
    <add key="QueryGETProducto" value="SELECT [id_producto],[nombre],[descripcion],[costo],[existencia],[activo],[fecha_modificacion],[clave]FROM [EnForma].[dbo].[TblProducto]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_RECARGO-->
    <add key="QueryGETRecargo" value="SELECT [id_recargo],[id_socio],[id_paquete],[fecha_recargo],[importe],[liberacion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblRecargo]" />
    <add key ="QuerySAVERecargo" value="
         INSERT INTO [dbo].[TblRecargo]
           ([id_socio]
           ,[id_paquete]
           ,[fecha_recargo]
           ,[importe]
           ,[liberacion]
           ,[activo]
           ,[fecha_modificacion])
     VALUES
           ({0}
           ,{1}
           ,GETDATE()
           ,{2}
           ,0
           ,1
           ,GETDATE());
         "/>
    <add key="QuerySAVEPagoRecargo" value="
         INSERT INTO [dbo].[TblPagoRecargo]
           ([id_pago]
           ,[id_recargo]
           ,[activo]
           ,[fecha_modificacion])
     VALUES
           ((SELECT TOP 1 ID_Pago  FROM TblPago ORDER BY	id_pago DESC)
           ,(SELECT TOP 1 id_recargo FROM TblRecargo ORDER BY	id_recargo DESC)
           ,1
           ,GETDATE())
         " />
    <add key="QueryUPDATE" value="" />

    <!--TBL_RECORD-->
    <add key="QueryGETRecord" value="SELECT [id_record],[pesoInicial],[pesoBajado],[pesoActual],[circCinturaInicial],[circCinturaBajado],[circCinturaActual],[circCaderaInicial],[circCaderaBajado],[circCaderaActual],[circPechoInicial],[circPechoBajado],[circPechoActual],[altura],[talla],[grasaCorporal],[edad],[frecCardicaMaxima],[frecCardicaReposo],[porceEntrenamiento],[imc],[pie],[guia],[observaciones]FROM [EnForma].[dbo].[TblRecord]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_RECORD_SOCIO-->
    <add key="QueryGETRecordsSocio" value="SELECT [id_relation],[id_socio],[id_record]FROM [EnForma].[dbo].[TblRecordsSocio]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_RECORD_TICKET-->
    <add key="QueryGETRecordTicket" value="SELECT [id_record_ticket],[id_socio],[pliegueTricipal],[pliegueEscapular],[trigliceridos],[Colesterol],[Glucosa],[frecuenciaCardiaca],[frecuanciArtSisfolica],[frecuanciArtDiasfolica],[porcentajeCargaPecho],[porcentajeCargaPierna],[metabolismoBasal]FROM [EnForma].[dbo].[TblRecordTicket]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_REGISTRO_VISITA-->
    <add key="QueryGETRegistroVisita" value="SELECT [id_vigencia],[id_socio],[dias_vigentes],[fecha_entrada],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblRegistroVisita]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_SERVICIO-->
    <add key="QueryGETServicio" value="SELECT [id_servicio],[nombre],[descripcion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblServicio]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_SOCIO-->
    <add key="QueryGETSocio" value="SELECT [id_socio],[num_socio],[nombre],[ap_paterno],[ap_materno],[direccion],[fecha_registro],[fecha_baja],[activo],[fecha_modificacion],[telefono],[fecha_nacimiento],[compEstudios],[mail]FROM [EnForma].[dbo].[TblSocio]" />
    <add key="QuerySAVESocio" value="INSERT INTO [EnForma].[dbo].[TblSocio] (          [num_socio],          [nombre],          [ap_paterno],          [ap_materno],          [direccion],          [fecha_registro],          [fecha_baja],          [activo],          [fecha_modificacion],          [telefono],          [fecha_nacimiento],          [compEstudios],          [mail]          ) VALUES ({0},'{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}','{11}','{12}');" />
    <add key="QueryUPDATESocio" value="UPDATE [EnForma].[dbo].[TblSocio] SET           [nombre] = '{0}',          [ap_paterno] = '{1}',          [ap_materno] = '{2}',          [direccion] = '{3}',          [fecha_baja] = '{4}',          [activo] = '{5}',          [fecha_modificacion] = '{6}',          [telefono] = '{7}',          [fecha_nacimiento] = '{8}',          [compEstudios] = '{9}',          [mail] = '{10}'           WHERE[id_socio] = {11};" />
    <add key="QueryLASTNumSocio" value="SELECT TOP 1 num_socio +1 AS num_socio  FROM TblSocio    ORDER BY  ID_SOCIO DESC" />
    <add key="QuerySocios" value="SELECT  [id_socio]                       ,[num_socio]                        ,nombre + ' ' + ap_paterno + ' ' + ap_materno AS nombre_Completo                       FROM [EnForma].[dbo].[TblSocio]                      WHERE [activo] = 1" />
    <add key="QuerySociosHitorialMedico" value="SELECT  s.[id_socio]                ,s.[num_socio]                 ,s.nombre + ' ' + s.ap_paterno + ' ' + s.ap_materno AS nombre_Completo                   FROM [EnForma].[dbo].[TblSocio] S              LEFT JOIN TblHistorialMedico F ON F.id_socio = S.id_socio                    WHERE s.[activo] = 1 AND problema_Cardiaco IS NULL" />
    
    <add key="QuerySociosHitorialFisico" value="SELECT  s.[id_socio]                  ,s.[num_socio]                   ,s.nombre + ' ' + s.ap_paterno + ' ' + s.ap_materno AS nombre_Completo                     FROM [EnForma].[dbo].[TblSocio] S                LEFT JOIN TblHistorialFisico F ON F.id_socio = S.id_socio                      WHERE s.[activo] = 1 AND actividad_Fisica IS NULL" />

    <!--TBL_SOCIO_MEMBRESIA-->
    <add key="QueryGETSocioMembresia" value="SELECT [id_socio_membresia],[id_socio],[id_paquete],[fecha_vinculacion],[fecha_renovacion],[fecha_expiracion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblSocioMembresia]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_VENTA-->
    <add key="QueryGETVenta" value="SELECT [id_venta],[folio_diario],[fecha],[total],[ID_USUARIO],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblVenta]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />

    <!--TBL_VENTA_PRODUCTO-->
    <add key="QueryGETVentaProducto" value="SELECT [id_venta],[id_producto],[costo],[activo],[fecha_modificacion],[cantidad]FROM [EnForma].[dbo].[TblVentaProducto]" />
    <add key="QuerySAVE" value="" />
    <add key="QueryUPDATE" value="" />


    <add key ="QueryGETCumple" value="
         SELECT e.[id_socio],
			e.num_socio,
			e.nombre,
			e.ap_paterno, 
			e.ap_materno,
			e.direccion,
			e.mail
				FROM TblSocio As E
				 WHERE DAY(E.fecha_nacimiento)=DAY(GETDATE()) and MONTH(E.fecha_nacimiento)=MONTH(GETDATE())
         "/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  <authentication mode="Forms">
    <forms loginUrl="~/login/index" defaultUrl="~/home/index"></forms>
  </authentication>
  <sessionState timeout="20"></sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
  <connectionStrings>
    <!-- <add name="ConnStr"
      connectionString="Data Source=DESKTOP-6B1AP52\SQLEXPRESS;Initial Catalog=EnForma;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient"/>-->
    <add name="ConnStr" connectionString="Data Source=ISCFPERALTA-PC\SQLEXPRESS2017;Initial Catalog=EnForma;Persist Security Info=True;User ID=sa;Password=root" providerName="System.Data.SqlClient" />
    <!--  Rutas de almacenamiento de Archivos-->
    <add name="ticketPath" connectionString="C:\Users\iscfperalta\Desktop\Recibos de Pagos"/>
    <add name="ticketPathProgreso" connectionString="C:\Users\iscfperalta\Desktop\Recibos de Progreso"/>
    <add name="mailPass" connectionString=""/>
  </connectionStrings>
</configuration>