<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--MODULOS-->
    <add key="QueryGETModulos"
         value="SELECT [ID_MODULO],[DESCRIPCION]FROM [EnForma].[dbo].[TBL_MODULOS]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--PERFILES-->
    <add key="QueryGETPerfiles"
         value="SELECT [ID_PERFIL],[PERFIL],[ACTIVO],[CREADO],[CREADOPOR],[ACTUALIZADO],[ACTUALIZADOPOR]FROM [EnForma].[dbo].[TBL_PERFILES]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--REL_PERFIL_MODULO-->
    <add key="QueryGETPerfilModulo"
      value="SELECT [ID_REL],[ID_PERFIL],[ID_MODULO],[CONTROL_TOTAL],[ACTIVO],[CREADO],[CREADOPOR],[ACTUALIZADO],[ACTUALIZADOPOR]FROM [EnForma].[dbo].[TBL_REL_PERFIL_MODULO]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_USUARIOS-->
    <add key="QueryGETUsuarios"
      value="SELECT [ID_USUARIO],[NOMBRE],[APELLIDO_PAT],[APELLIDO_MAT],[ID_AREA],[USUARIO],[PASSWORD],[ID_PERFIL],[ACTIVO],[CREADO],[CREADOPOR],[ACTUALIZADO],[ACTUALIZADOPOR]FROM [EnForma].[dbo].[TBL_USUARIOS]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_ASIGNACION-->
    <add key="QueryGETAsignacion"
      value="SELECT [id_asignacion],[id_socio],[id_paquete],[fecha_asignacion],[fecha_vigencia],[activo],[fecha_modificacion],[fecha_cancelacion]FROM [EnForma].[dbo].[TblAsignacion]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_CHECADOR-->
    <add key="QueryGETChecador"
      value="SELECT [id_entrada_salida],[id_empleado],[entrada],[salida],[fecha_registro],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblChecador]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_CHECADOR_SOCIO-->
    <add key="QueryGETChecadorSocio"
      value="SELECT [id_entrada_salida],[id_socio],[entrada],[salida],[fecha_registro],[activo],[fecha_modificacion] FROM [EnForma].[dbo].[TblChecadorSocio]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_EMPLEADO-->
    <add key="QueryGETEmpleado"
      value="SELECT [id_empleado],[num_empleado],[nombre],[ap_paterno],[ap_materno],[direccion],[fecha_registro],[fecha_baja],[activo],[fecha_modificacion],[id_perfil],[telefono]FROM [EnForma].[dbo].[TblEmpleado]"/>
    <add key="QuerySAVEEmpleado" value="INSERT INTO TblEmpleado (num_empleado,
							 nombre,
							 ap_paterno,
							 ap_materno,
							 telefono,
							 direccion,
							 fecha_registro,
							 fecha_baja,
							 activo,
							 fecha_modificacion,
							 id_perfil
	          )VALUES('{0}','{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}');"/>
    <add key="QueryUPDATEEmpleado" value="UPDATE TblEmpleado SET num_empleado='{0}',
							 nombre='{1}',
							 ap_paterno='{2}',
							 ap_materno='{3}',
							 telefono='{4}' , 
							 direccion='{5}',
							 id_perfil='{6}',
							 fecha_baja ='{7}',
							 activo= '{8}',
							 fecha_modificacion= getdate()
	        WHERE id_empleado='{9}'"/>
    <add key="QueryLASTNumEmpleado" 
         value="SELECT TOP 1 num_empleado +1 AS num_empleado 		FROM TblEmpleado 	ORDER BY  [id_empleado] DESC"/>

    <!--TBL_HISTORIAL_FISICO-->
    <add key="QueryGETHistorialFisico"
      value="SELECT [id_historial_fisico],[id_socio],[descripcion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblHistorialFisico]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_HISTORIAL_MEDICO-->
    <add key="QueryGETHistorialMedico"
      value="SELECT [id_historial_medico],[id_socio],[descripcion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblHistorialMedico]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_HISTOTIAL_PESO-->
    <add key="QueryGETHistorialPeso"
         value="SELECT [EnForma].[id_historial],[id_socio],[prev_peso],[prev_alto],[prev_bajo],[prev_pecho]FROM [dbo].[TblHistorialPeso]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_MEMBRESIA-->
    <add key="QueryGETMembresia"
         value="SELECT [id_membresia],[nombre],[descripcion],[costo],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblMembresia]"/>
    <add key="QuerySAVE"
         value="INSERT INTO [EnForma].[dbo].[TblMembresia](
         [nombre],
         [descripcion],
         [costo],
         [activo],
         [fecha_modificacion]
         )VALUES('{0}','{1}',{2},'{3}','{4}');"/>
    <add key="QueryUPDATE"
         value="UPDATE [EnForma].[dbo].[TblMembresia]SET 
         [nombre] = '{0}',
         [descripcion] = '{1}',
         [costo] = '{2}',
         [activo] = '{3}',
         [fecha_modificacion] = '{4}'
         WHERE [id_membresia]={5}"/>

    <!--TBL_MODULO-->
    <add key="QueryGETModulo"
         value="SELECT [id_modulo],[descripcion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblModulo]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_PAGO-->
    <add key="QueryGETPago"
      value="SELECT [id_pago],[id_paquete],[id_socio],[ID_USUARIO],[importe],[fecha_pago],[activo],[fecha_modificacion],[fecha_pago_vence],[pendiente]FROM [EnForma].[dbo].[TblPago]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_PAGO_RECARGO-->
    <add key="QueryGETPagoRecargo" value="SELECT [id_pago_recargo],[id_pago],[id_recargo],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblPagoRecargo]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_PAQUETE-->
    <add key="QueryGETPaquete"
      value="SELECT [id_paquete],[nombre],[descripcion],[costo],[ID_USUARIO],[activo],[fecha_modificacion],[diaspaquetes]FROM [EnForma].[dbo].[TblPaquete]"/>
    <add key="QuerySAVEPaquete" value="INSERT INTO [EnForma].[dbo].[TblPaquete](
         [nombre],
         [descripcion],
         [costo],
         [ID_USUARIO],
         [activo],
         [fecha_modificacion],
         [diaspaquetes]
         )VALUES('{0}','{1}',{2},{3},'{4}','{5}',{6});"/>
    <add key="QueryUPDATEPaquete" value="UPDATE [EnForma].[dbo].[TblPaquete]SET 
         [nombre] = '{0}',
         [descripcion] = '{1}',
         [costo] = {2},
         [ID_USUARIO] = {3},
         [diaspaquetes] ={4},
         [activo] = '{5}',
         [fecha_modificacion] = '{6}' 
         WHERE [id_paquete] = {7};"/>
    <add key="QueryGETPaqueteID"
         value="SELECT [id_paquete]
        ,[nombre]
        ,[descripcion]
        ,[costo]
        ,[ID_USUARIO]
        ,[activo]
        ,[fecha_modificacion]
        ,[diaspaquetes]
        FROM [EnForma].[dbo].[TblPaquete]
        WHERE [id_paquete]={0}"/>

    <!--TBL_PAQUETE_SERVICIO-->
    <add key="QueryGETPaqueteServicio" value="SELECT [id_paquete],[id_servicio],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblPaqueteServicio]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_PRODUCTO-->
    <add key="QueryGETProducto"
      value="SELECT [id_producto],[nombre],[descripcion],[costo],[existencia],[activo],[fecha_modificacion],[clave]FROM [EnForma].[dbo].[TblProducto]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_RECARGO-->
    <add key="QueryGETRecargo"
      value="SELECT [id_recargo],[id_socio],[id_paquete],[fecha_recargo],[importe],[liberacion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblRecargo]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_RECORD-->
    <add key="QueryGETRecord"
      value="SELECT [id_record],[pesoInicial],[pesoBajado],[pesoActual],[circCinturaInicial],[circCinturaBajado],[circCinturaActual],[circCaderaInicial],[circCaderaBajado],[circCaderaActual],[circPechoInicial],[circPechoBajado],[circPechoActual],[altura],[talla],[grasaCorporal],[edad],[frecCardicaMaxima],[frecCardicaReposo],[porceEntrenamiento],[imc],[pie],[guia],[observaciones]FROM [EnForma].[dbo].[TblRecord]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_RECORD_SOCIO-->
    <add key="QueryGETRecordsSocio" value="SELECT [id_relation],[id_socio],[id_record]FROM [EnForma].[dbo].[TblRecordsSocio]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_RECORD_TICKET-->
    <add key="QueryGETRecordTicket"
      value="SELECT [id_record_ticket],[id_socio],[pliegueTricipal],[pliegueEscapular],[trigliceridos],[Colesterol],[Glucosa],[frecuenciaCardiaca],[frecuanciArtSisfolica],[frecuanciArtDiasfolica],[porcentajeCargaPecho],[porcentajeCargaPierna],[metabolismoBasal]FROM [EnForma].[dbo].[TblRecordTicket]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_REGISTRO_VISITA-->
    <add key="QueryGETRegistroVisita"
      value="SELECT [id_vigencia],[id_socio],[dias_vigentes],[fecha_entrada],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblRegistroVisita]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_SERVICIO-->
    <add key="QueryGETServicio" value="SELECT [id_servicio],[nombre],[descripcion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblServicio]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_SOCIO-->
    <add key="QueryGETSocio" value="SELECT [id_socio],[num_socio],[nombre],[ap_paterno],[ap_materno],[direccion],[fecha_registro],[fecha_baja],[activo],[fecha_modificacion],[telefono],[fecha_nacimiento],[compEstudios],[mail]FROM [EnForma].[dbo].[TblSocio]"/>
    <add key="QuerySAVESocio" value="INSERT INTO [EnForma].[dbo].[TblSocio] (
         [num_socio],
         [nombre],
         [ap_paterno],
         [ap_materno],
         [direccion],
         [fecha_registro],
         [fecha_baja],
         [activo],
         [fecha_modificacion],
         [telefono],
         [fecha_nacimiento],
         [compEstudios],
         [mail]
         ) VALUES ({0},'{1}','{2}','{3}','{4}','{5}','{6}','{7}','{8}','{9}','{10}','{11}','{12}');"/>
    <add key="QueryUPDATESocio" value="UPDATE [EnForma].[dbo].[TblSocio] SET 
         [nombre] = '{0}',
         [ap_paterno] = '{1}',
         [ap_materno] = '{2}',
         [direccion] = '{3}',
         [fecha_baja] = '{4}',
         [activo] = '{5}',
         [fecha_modificacion] = '{6}',
         [telefono] = '{7}',
         [fecha_nacimiento] = '{8}',
         [compEstudios] = '{9}',
         [mail] = '{10}' 
         WHERE[id_socio] = {11};"/>
    <add key="QueryLASTNumSocio"
         value="SELECT TOP 1 num_socio +1 AS num_socio		FROM TblSocio 			ORDER BY  ID_SOCIO DESC"/>


    <!--TBL_SOCIO_MEMBRESIA-->
    <add key="QueryGETSocioMembresia" value="SELECT [id_socio_membresia],[id_socio],[id_paquete],[fecha_vinculacion],[fecha_renovacion],[fecha_expiracion],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblSocioMembresia]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_VENTA-->
    <add key="QueryGETVenta" value="SELECT [id_venta],[folio_diario],[fecha],[total],[ID_USUARIO],[activo],[fecha_modificacion]FROM [EnForma].[dbo].[TblVenta]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

    <!--TBL_VENTA_PRODUCTO-->
    <add key="QueryGETVentaProducto" value="SELECT [id_venta],[id_producto],[costo],[activo],[fecha_modificacion],[cantidad]FROM [EnForma].[dbo].[TblVentaProducto]"/>
    <add key="QuerySAVE" value=""/>
    <add key="QueryUPDATE" value=""/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
  </system.webServer>
  <connectionStrings>
    <add name="ConnStr"
      connectionString="Data Source=DESKTOP-6B1AP52\SQLEXPRESS;Initial Catalog=EnForma;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient"/>
  <!--connectionString="Data Source=ISCFPERALTA-PC\SQLEXPRESS2017;Initial Catalog=EnForma;Persist Security Info=True;User ID=sa;Password=root"-->
  </connectionStrings>
</configuration>