@{
    ViewBag.Title = "Usuario";
    Html.RenderPartial("_DataGridView");
    Html.RenderPartial("_ModalDeleteView");
}

<div class="modal fade" id="ModalData" tabindex="-1" role="dialog" aria-labelledby="ModalEmployeeTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header alert-secondary text-center">
                <h5 class="modal-title">
                    <label id="ModalTitle"></label>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="DataForm" class="needs-validation form form-group container" novalidate>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="userName">Nombre(s)</label>
                        <input type="text" class="form-control col-md-7" id="userName" aria-label="Nombre de usuario" placeholder="Nombre de usuario" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="userLast">Ap. Paterno</label>
                        <input type="text" class="form-control col-md-7" id="userLast" aria-label="Apellido paterno del usuario" placeholder="Apellidos paterno del usuario" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="userLastM">Ap. Materno</label>
                        <input type="text" class="form-control col-md-7" id="userLastM" aria-label="Apellido materno del usuario" placeholder="Apellidos materno del usuario" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="userUser">Usuario</label>
                        <input type="text" class="form-control col-md-7" id="userUser" aria-label="Usuario" placeholder="Usuario" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="userPassword">Password</label>
                        <input type="password" class="form-control col-md-7" id="userPassword" aria-label="Password" placeholder="Password" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="userType">Tipo de Usuario</label>
                        <select class="custom-select col-md-7" id="userType" required>
                            <option value="">Seleccione una opción</option>
                        </select>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="modal-body text-center">
                        <button type="submit" class="btn btn-block btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Application/utils/AfterJS.js"></script>
<script src="~/Scripts/Application/AJAXRequest.js"></script>
<script src="~/Scripts/Application/utils/NotificationsHelper.js"></script>
<script src="~/Scripts/Application/utils/ElementsHelper.js"></script>
<script src="~/Scripts/Application/utils/DatatablesHelper.js"></script>
<script src="~/Scripts/Application/Usuario.js"></script>
<script src="~/Scripts/Application/utils/TitlesHelper.js"></script>

