
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Recuperar contraseña</div>
    <div class="card-body">
        <div class="text-center mt-4 mb-5">
            <h4>Olvidaste tu contraseña?</h4>
            <p>Ingresa tu dirección de email y te enviaremos las instrucciones para recuperar tu contraseña.</p>
        </div>
        <form>
            <div class="form-group">
                <input class="form-control" id="email" type="email" aria-describedby="emailHelp" placeholder="Escribe tu Email">
            </div>
            <a class="btn btn-primary btn-block" href="#">Recuperar password</a>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/Login/Account">Registrar una cuenta</a>
            <a class="d-block small" href="/Home">Inicio</a>
        </div>
    </div>
</div>