@{
    ViewBag.Title = "HistorialMedico";
    Html.RenderPartial("_DataGridView");
    Html.RenderPartial("_ModalDeleteView");
}
<div class="modal fade" id="ModalData" tabindex="-1" role="dialog" aria-labelledby="ModalEmployeeTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header alert-secondary text-center">
                <h5 class="modal-title">
                    <label id="ModalTitle"></label>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="DataForm" class="needs-validation form form-group container" novalidate>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="SocioId">Socio:</label>
                        <select class="custom-select col-md-7" id="SocioId" required>
                            <option value="">Seleccione una opción</option>
                        </select>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="col-md-8 input-group-text" for="ProblemaCardiaco">¿Tiene problemas cardíacos?</label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="ProblemaCardiaco" aria-label="problemas cardíacos" placeholder="problemas cardíacos" required >
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-8" for="DolorPecho">¿Tiene o ha tenido dolor en el pecho o presión?</label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="DolorPecho" aria-label="Dolor pecho o presión " placeholder="Dolor pecho o presión" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-5" for="Asma">¿Tiene asma?</label>
                        &nbsp;
                        <label class="input-group-text col-md-5" for="PresionAlta">
                            ¿Ha tenido presión alta alguna vez?
                        </label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-5" id="Asma" aria-label="Asma" placeholder="Asma" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                        &nbsp;
                        <input type="text" class="form-control col-md-5" id="PresionAlta" aria-label="presión alta" placeholder="presión alta" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    @*<div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-8" for="PalpitacionNauseaDesmayo ">¿Ha tenido o tiene con el ejercicio palpitaciones, nauseas o desmayos?</label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="PalpitacionNauseaDesmayo" aria-label="Palpitacion, Nausea o Desmayo" placeholder="Palpitacion, Nausea o Desmayo" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>*@
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-8" for="Medicamento">¿Toma medicamentos, esteroides, anabólicos, etc? ¿Mencione cuáles? </label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="Medicamento" aria-label="Medicamentos, esteroides, anabólicos u otros" placeholder="Medicamentos, esteroides, anabólicos u otros" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-8" for="Neurologicos">¿Tiene alguna enfermedad neurológica? </label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="Neurologicos" aria-label="Neurologicos" placeholder="Neurologicos" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-8" for="RiesgoCardiovascular">¿Tiene otro factor de riesgo cardiovascular ? ¿Mencione cuáles? </label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="RiesgoCardiovascular" aria-label="Colesterol alto, diabetes, obesidad,u otros" placeholder="(colesterol alto, diabetes, obesidad, estrés, tabaquismo, sedentarismo)" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-8" for="Dolencias">¿Tiene problemas articulares, óseos, dolencias o lesiones previas?</label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="Dolencias" aria-label="Dolencias" placeholder="Problemas articulares, óseos, dolencias, lesiones previas  en huesos o articulaciones " required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-10" for="Enfermedad">¿Existe algún otro problema o enfermedad no mencionada aquí que debiera confiarnos?</label>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-1"></div>
                        <input type="text" class="form-control col-md-9" id="Enfermedad" aria-label="Enfermedad" placeholder="Enfermedad" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>

                    <div class="modal-body text-center">
                        <button type="submit" class="btn btn-block btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Application/utils/AfterJS.js"></script>
<script src="~/Scripts/Application/AJAXRequest.js"></script>
<script src="~/Scripts/Application/utils/NotificationsHelper.js"></script>
<script src="~/Scripts/Application/utils/ElementsHelper.js"></script>
<script src="~/Scripts/Application/utils/DatatablesHelper.js"></script>
<script src="~/Scripts/Application/HistorialMedico.js"></script>
<script src="~/Scripts/Application/utils/TitlesHelper.js"></script>
