
<div class="row mb-3">
    <div class="col-md-8">
        <div class="input-daterange input-group" id="datepicker">
            <span class="input-group-text">Fecha Inicial:</span>
            <input type="text" class="input-sm form-control" id="start" />
            &nbsp;&nbsp;
            <span class="input-group-text">Fecha Final:</span>
            <input type="text" class="input-sm form-control" id="end" />
        </div>
    </div>
    <div class="col-md-3 text-left">
        <button type="button" id="BtnReport" class="btn btn-block btn-success" data-toggle="modal"> Buscar</button>
    </div>
</div>

