<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/js/jquery/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap/bootstrap.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
