@{
    ViewBag.Title = "Membresias";
    Html.RenderPartial("_DataGridView");
    Html.RenderPartial("_ModalDeleteView");
}
<div class="modal fade" id="ModalData" tabindex="-1" role="dialog" aria-labelledby="ModalDataTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header card-header alert-secondary text-center">
                <h5 class="modal-title">
                    <label id="ModalTitle"></label>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="DataForm" class="needs-validation form form-group container" novalidate>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="MembershipName">Nombre</label>
                        <input type="text" class="form-control col-md-7" id="MembershipName" aria-label="Nombre de Membresia" placeholder="Nombre de Membresia" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="MembershipName">Costo</label>
                        <input type="text" class="form-control col-md-7" id="MembershipName" aria-label="Nombre de Membresia" placeholder="Nombre de Membresia" required>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-1"></div>
                        <label class="input-group-text col-md-2" for="MembershipDescription">Descripción</label>
                        <textarea class="form-control col-md-7" id="packageDescription" rows="3" aria-label="Descripción del paquete" placeholder="Descripción del paquete" required></textarea>
                        <div class="invalid-feedback col-md-2">
                            Falta información!
                        </div>
                    </div>
                    <div class="modal-header card-header alert-secondary text-center">
                        <button type="submit" class="btn btn-block btn-success">Guardar Cambios</button>
                    </div>
                    <div class="row mb-3">
                        <button type="submit" class="btn btn-block btn-success">Guardar Cambios</button>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-block btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Application/utils/ElementsHelper.js"></script>
<script src="~/Scripts/Application/utils/AfterJS.js"></script>
<script src="~/Scripts/Application/Membresia.js"></script>
<script src="~/Scripts/Application/utils/TitlesHelper.js"></script>
<script src="~/Scripts/Application/AJAXRequest.js"></script>